* {
    border-radius: 30px;
    padding: 8px;
    text-align: center;
}
img{
    width: 600px;
    height: 200px;
}
p{
    font-size: 35px;
}
#primaire{
    background: blue;
    font-size: 50px;
}
#college{
    background: rgb(122, 14, 75);
    font-size: 50px;
}
#brevet{
    background: yellow;
    font-size: 50px;
}
#professeurs{
    background: green;
    font-size: 50px;
}
.themeContainer{
    position: fixed;
    top: 0;
}
.theme{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
#dark{
    background: black;
}
#emeraude{
    background: rgb(17, 215, 17);
}
#yellow{
    background: yellow;
}
.darkTheme{
    background: black;
    color: white;
}
.emeraudeTheme{
    background: rgb(17, 215, 17);
}
.yellowTheme{
    background: yellow;
}